<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.bosch.caltool.icdm.ui.icdm.category"
            name="iCDM">
      </category>
      <view
            category="com.bosch.caltool.icdm.ui.icdm.category"
            class="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/pid_tree.png"
            id="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
            name="PID Card"
            restorable="true">
      </view>
      <view
            category="com.bosch.caltool.icdm.ui.icdm.category"
            class="com.bosch.caltool.icdm.common.ui.views.FavoritesViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/favorites.png"
            id="com.bosch.caltool.icdm.common.ui.views.FavoritesViewPart"
            name="Favorites"
            restorable="true">
      </view>
      <view
            category="com.bosch.caltool.icdm.ui.icdm.category"
            class="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/outline_co.gif"
            id="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart"
            name="Outline"
            restorable="true">
      </view>
      <view
            category="com.bosch.caltool.icdm.ui.icdm.category"
            class="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/scratch_pad.png"
            id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart"
            name="Scratch Pad"
            restorable="true">
      </view>
      <view
            category="com.bosch.caltool.icdm.ui.icdm.category"
            class="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/start_std_values.gif"
            id="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart"
            name="Start/StandardValues"
            restorable="true">
      </view>
      <view
            category="com.bosch.caltool.icdm.ui.icdm.category"
            class="com.bosch.caltool.icdm.ui.views.DependenciesViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/dependencies.gif"
            id="com.bosch.caltool.icdm.ui.views.DependenciesViewPart"
            name="Dependencies"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bosch.caltool.icdm.ui.editors.A2LContentsEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/file.gif"
            id="com.bosch.caltool.icdm.ui.editors.A2LContentsEditor"
            name="A2LContents">
      </editor>
      <editor
            class="com.bosch.caltool.icdm.ui.editors.FC2WPEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/fc2wp_16X16.png"
            id="com.bosch.caltool.icdm.ui.editors.FC2WPEditor"
            name="FC2WP">
      </editor>
      <editor
            class="com.bosch.caltool.icdm.ui.editors.CaldataAnalyzerEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/caldata_analyzer.png"
            id="com.bosch.caltool.icdm.ui.editors.CaldataAnalyzerEditor"
            name="Calibration Data Analyzer">
      </editor>
      <editor
            class="com.bosch.caltool.icdm.ui.editors.a2lcomparison.A2LCompareEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/file.gif"
            id="com.bosch.caltool.icdm.ui.editors.a2lcomparison.A2LCompareEditor"
            name="A2LCompare">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.bosch.caltool.icdm.ui.scratchViewContribution"
            targetID="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart">
         <action
               class="com.bosch.caltool.icdm.ui.action.ClearAllViewActionDelegate"
               icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/clear_co.gif"
               id="com.bosch.caltool.icdm.ui.action.ClearAllViewActionDelegate"
               label="Clear All"
               menubarPath="addittions"
               style="push"
               toolbarPath="addittions"
               tooltip="Clear All">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.bosch.caltool.a2l.jpa.bo.FC2WP"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
      <factory
            adaptableType="com.bosch.caltool.icdm.client.bo.a2l.A2LParameter"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.bosch.calmodel.a2ldata.module.calibration.group.Function"
         
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.bosch.caltool.icdm.model.a2l.A2LSystemConstantValues"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
       <factory
            adaptableType="com.bosch.caltool.icdm.model.a2l.A2LBaseComponents"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
             <factory
            adaptableType="com.bosch.caltool.icdm.model.a2l.A2lWorkPackage"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
             <factory
            adaptableType="com.bosch.caltool.icdm.model.a2l.A2lWorkPackageGroup"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
                   <factory
            adaptableType="com.bosch.caltool.icdm.model.a2l.A2LGroup"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
        <factory
            adaptableType="com.bosch.caltool.icdm.model.a2l.A2LBaseComponentFunctions"
            class="com.bosch.caltool.icdm.ui.views.providers.PropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
   </extension>
   <extension
         point="com.bosch.caltool.icdm.common.ui.PIDCTreeViewExtnPt">
      <contribution
            class="com.bosch.caltool.icdm.ui.action.PIDCTreeViewActionSet">
      </contribution>
   </extension>
   <extension
         point="com.bosch.calcomp.externallink.action">
      <handlers
            process="com.bosch.caltool.icdm.ui.extlink.A2LFileExternalLinkOpenAction"
            creation="com.bosch.calcomp.externallink.creation.DefaultLinkCreationActionHandler"
            type="A2L_FILE">
      </handlers>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.bosch.caltool.apic.ui.commands.A2lDetailsAddVarGrpHandler"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/add.gif"
            id="com.bosch.caltool.apic.ui.commands.A2lDetailsAddVarGroupHandler"
            name="Add Variant group">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.bosch.caltool.apic.ui.commands.A2lDetailsEditVarGrpHandler"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/add.gif"
            id="com.bosch.caltool.apic.ui.commands.A2lDetailsEditVarGroupHandler"
            name="Edit Variant group">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.bosch.caltool.apic.ui.commands.A2lDetailsDeleteVarGrpHandler"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/add.gif"
            id="com.bosch.caltool.apic.ui.commands.A2lDetailsDeleteVarGroupHandler"
            name="Delete Variant group">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   
  

</plugin>
