<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.bosch.caltool.cdr.ui.cdr.category"
            class="com.bosch.caltool.cdr.ui.views.CodeWord"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/code_word.gif"
            id="com.bosch.caltool.cdr.ui.views.CodeWord"
            name="Codeword">
      </view>
      <category
            id="com.bosch.caltool.cdr.ui.cdr.category"
            name="Calibration Data Review">
      </category>
      <view
            category="com.bosch.caltool.cdr.ui.cdr.category"
            class="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/review_data.jpg"
            id="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart"
            name="Review Data"
            restorable="true">
      </view>
      <view
            category="com.bosch.caltool.cdr.ui.cdr.category"
            class="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/scratch_pad.png"
            id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart"
            name="Scratch Pad"
            restorable="true">
      </view>
      <view
            category="com.bosch.caltool.cdr.ui.cdr.category"
            class="com.bosch.caltool.icdm.ruleseditor.views.RulesHistoryViewPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/history_view.gif"
            id="com.bosch.caltool.icdm.ruleseditor.views.RulesHistoryViewPart"
            name="Rule History"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bosch.caltool.cdr.ui.editors.ReviewResultEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/review_result_open.png"
            id="com.bosch.caltool.cdr.ui.editors.ReviewResultEditor"
            name="ReviewResultEditor">
      </editor>
       <editor
            class="com.bosch.caltool.cdr.ui.editors.ReviewQuestionaireEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/ques_response.png"
            id="com.bosch.caltool.cdr.ui.editors.ReviewQuestionaireEditor"
            name="Questionaire">
      </editor>
      <editor
            class="com.bosch.caltool.icdm.ruleseditor.editor.ReviewParamEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/function_edit.png"
            id="com.bosch.caltool.icdm.ruleseditor.editor.ReviewParamEditor"
            name="ReviewParamEditor">
      </editor>
      <editor
            class="com.bosch.caltool.icdm.ruleseditor.editor.ReviewParamEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/rule_set_edit.png"
            id="com.bosch.caltool.cdr.ui.editors.RuleSetEditor"
            name="Ruleset Editor">
      </editor>
      <editor
            class="com.bosch.caltool.icdm.ruleseditor.editor.ReviewParamEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/cp_edit.png"
            id="com.bosch.caltool.cdr.ui.editors.CPEditor"
            name="Component Package Editor">
      </editor>
      <editor
            class="com.bosch.caltool.cdr.ui.editors.CdrReportEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/report_16x16.png"
            id="com.bosch.caltool.cdr.ui.editors.CdrReportEditor"
            name="Data Review Report">
      </editor>
      <editor
            class="com.bosch.caltool.cdr.ui.editors.ReviewListEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/review_result.jpg"
            id="com.bosch.caltool.cdr.ui.editors.ReviewListEditor"
            name="Review Results">
      </editor>
      <editor
            class="com.bosch.caltool.cdr.ui.editors.WPArchivalListEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/work_package.gif"
            id="com.bosch.caltool.cdr.ui.editors.WPArchivalListEditor"
            name="Workpackage Archivals">
      </editor>
      <editor
            class="com.bosch.caltool.cdr.ui.editors.QnaireResponseEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/Questinaire-icon.png"
            id="com.bosch.caltool.cdr.ui.editors.QnaireResponseEditor"
            name="Questionnaire Response Editor">
      </editor>
      <editor
            class="com.bosch.caltool.cdr.ui.editors.CompHexWithCDFxEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/compare_editor.png"
            id="com.bosch.caltool.cdr.ui.editors.CompHexWithCDFxEditor"
            name="Compare HEX With Latest Review">
      </editor>
      <editor
            class="com.bosch.caltool.cdr.ui.editors.DataAssessmentReportEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/data_assessment.png"
            id="com.bosch.caltool.cdr.ui.editors.DataAssessmentReportEditor"
            name="Data Assessment Report">
      </editor>
      <editor
            class="com.bosch.caltool.cdr.ui.editors.DataAssessmentBaselineEditor"
            default="false"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/data_assessment.png"
            id="com.bosch.caltool.cdr.ui.editors.DataAssessmentBaselineEditor"
            name="Data Assessment Baseline">
      </editor>
   </extension>
    <extension
         point="com.bosch.caltool.icdm.common.ui.PIDCTreeViewExtnPt">
      <contribution
            class="com.bosch.caltool.cdr.ui.actions.PIDCTreeViewActionSet">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.bosch.caltool.icdm.client.bo.cdr.RuleDefinition"
            class="com.bosch.caltool.icdm.ruleseditor.views.providers.CDRPropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
       <factory
            adaptableType="com.bosch.caltool.icdm.model.cdr.IParameter"
            class="com.bosch.caltool.icdm.ruleseditor.views.providers.CDRPropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.bosch.caltool.icdm.model.cdr.ReviewRule"
            class="com.bosch.caltool.icdm.ruleseditor.views.providers.CDRPropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.bosch.caltool.icdm.model.cdr.ConfigBasedParam"
            class="com.bosch.caltool.icdm.ruleseditor.views.providers.CDRPropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.bosch.caltool.icdm.model.cdr.DefaultRuleDefinition"
            class="com.bosch.caltool.icdm.ruleseditor.views.providers.CDRPropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
      <factory
            adaptableType="com.bosch.caltool.icdm.model.cdr.RuleSetParameterAttr"
            class="com.bosch.caltool.icdm.ruleseditor.views.providers.CDRPropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory> 
      <factory
            adaptableType="com.bosch.caltool.icdm.model.a2l.ParameterAttribute"
            class="com.bosch.caltool.icdm.ruleseditor.views.providers.CDRPropertyViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>            
   </extension>
   <extension
         point="com.bosch.calcomp.externallink.action">
      <handlers
            creation="com.bosch.calcomp.externallink.creation.DefaultLinkCreationActionHandler"
            process="com.bosch.caltool.cdr.ui.extlink.CdrResultExternalLinkOpenAction"
            type="CDR_RESULT">
      </handlers>
      <handlers
            creation="com.bosch.calcomp.externallink.creation.DefaultLinkCreationActionHandler"
            process="com.bosch.caltool.cdr.ui.extlink.QnaireRespExternalLinkOpenAction"
            type="QNAIRE_RESPONSE">
      </handlers>
      <handlers
            creation="com.bosch.calcomp.externallink.creation.DefaultLinkCreationActionHandler"
            process="com.bosch.caltool.cdr.ui.extlink.QnaireRespExternalLinkOpenAction"
            type="QNAIRE_RESPONSE_VAR">
      </handlers>
      <handlers
            creation="com.bosch.calcomp.externallink.creation.DefaultLinkCreationActionHandler"
            process="com.bosch.caltool.cdr.ui.extlink.CdrResultExternalLinkOpenAction"
            type="CDR_RESULT_VAR">
      </handlers>
      <handlers
            creation="com.bosch.calcomp.externallink.creation.DefaultLinkCreationActionHandler"
            process="com.bosch.caltool.cdr.ui.extlink.ParamExternalLinkOpenAction"
            type="CDR_FUNCTION_PARAM">
      </handlers>
      <handlers
            creation="com.bosch.calcomp.externallink.creation.DefaultLinkCreationActionHandler"
            process="com.bosch.caltool.cdr.ui.extlink.RuleSetExternalLinkOpenAction"
            type="RULE_SET">
      </handlers>
   </extension>

</plugin>
