<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="iCDM" sequenceNumber="67">
<locations>
<location path="${com.bosch.caltool.icdm.target.basedir}\nebula" type="Directory"/>
<location path="${com.bosch.caltool.icdm.target.basedir}\swt" type="Directory"/>
<location path="${com.bosch.caltool.icdm.target.basedir}\ecl_core_packages\3.7.1b_rt\eclipse" type="Profile"/>
<location path="${com.bosch.caltool.icdm.target.basedir}\ecl_external_libs\4.2.1\eclipse" type="Profile"/>
<location path="${com.bosch.caltool.icdm.target.basedir}\ecl_mylyn\3.9.0_rt\eclipse" type="Profile"/>
<location path="${com.bosch.caltool.icdm.target.basedir}\ecl_pde\3.7.1_sdk\eclipse" type="Profile"/>
<location path="${com.bosch.caltool.icdm.target.basedir}\ecl_platform\3.7.1_64_rt\eclipse" type="Profile"/>
<location path="${workspace_loc}\com.bosch.caltool.nattable\NatTablePlugins" type="Directory"/>
</locations>
<includeBundles>
<plugin id="ca.odell.glazedlists"/>
<plugin id="com.bosch.codenav.processkiller"/>
<plugin id="com.ibm.icu"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="com.sun.syndication"/>
<plugin id="java_cup.runtime"/>
<plugin id="javax.activation"/>
<plugin id="javax.mail"/>
<plugin id="javax.servlet"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="javax.wsdl"/>
<plugin id="javax.xml"/>
<plugin id="javax.xml.rpc"/>
<plugin id="javax.xml.soap"/>
<plugin id="org.apache.ant"/>
<plugin id="org.apache.axis"/>
<plugin id="org.apache.bcel"/>
<plugin id="org.apache.commons.cli"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.discovery"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.apache.lucene.core" version="2.9.1.v201101211721"/>
<plugin id="org.apache.wsil4j"/>
<plugin id="org.apache.xalan"/>
<plugin id="org.apache.xerces" version="2.9.0.v201101211617"/>
<plugin id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<plugin id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.ant.launching"/>
<plugin id="org.eclipse.ant.ui"/>
<plugin id="org.eclipse.cdt.codan.core"/>
<plugin id="org.eclipse.cdt.codan.ui"/>
<plugin id="org.eclipse.cdt.core"/>
<plugin id="org.eclipse.cdt.core.win32"/>
<plugin id="org.eclipse.cdt.debug.core"/>
<plugin id="org.eclipse.cdt.ui"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.compare.win32"/>
<plugin id="org.eclipse.core.boot"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.core.externaltools"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.core.net.win32.x86_64"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth" version="3.2.300.v20120523-2004"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.draw2d"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.emf"/>
<plugin id="org.eclipse.emf.codegen"/>
<plugin id="org.eclipse.emf.codegen.ecore"/>
<plugin id="org.eclipse.emf.codegen.ecore.ui"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.emf.converter"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.emf.edit" version="2.9.0.v20130610-0406"/>
<plugin id="org.eclipse.emf.edit.ui"/>
<plugin id="org.eclipse.emf.exporter"/>
<plugin id="org.eclipse.emf.importer"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.equinox.p2.operations"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
<plugin id="org.eclipse.equinox.p2.ql"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.equinox.security.win32.x86_64"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.gef"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.help.appserver"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.jdt"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.jdt.core.manipulation"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.jdt.debug.ui"/>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="org.eclipse.jdt.junit.core"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.jdt.ui"/>
<plugin id="org.eclipse.jem"/>
<plugin id="org.eclipse.jem.beaninfo"/>
<plugin id="org.eclipse.jem.beaninfo.vm"/>
<plugin id="org.eclipse.jem.beaninfo.vm.common"/>
<plugin id="org.eclipse.jem.proxy"/>
<plugin id="org.eclipse.jem.util"/>
<plugin id="org.eclipse.jem.workbench"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="org.eclipse.jst.common.annotations.controller"/>
<plugin id="org.eclipse.jst.common.annotations.core"/>
<plugin id="org.eclipse.jst.common.frameworks"/>
<plugin id="org.eclipse.jst.common.project.facet.core"/>
<plugin id="org.eclipse.jst.j2ee"/>
<plugin id="org.eclipse.jst.j2ee.core"/>
<plugin id="org.eclipse.jst.j2ee.jca"/>
<plugin id="org.eclipse.jst.j2ee.web"/>
<plugin id="org.eclipse.jst.jee"/>
<plugin id="org.eclipse.jst.jsf.common"/>
<plugin id="org.eclipse.jst.jsf.common.runtime"/>
<plugin id="org.eclipse.jst.jsf.common.ui"/>
<plugin id="org.eclipse.jst.jsf.core"/>
<plugin id="org.eclipse.jst.jsf.facesconfig"/>
<plugin id="org.eclipse.jst.jsp.core"/>
<plugin id="org.eclipse.jst.jsp.ui"/>
<plugin id="org.eclipse.jst.pagedesigner"/>
<plugin id="org.eclipse.jst.pagedesigner.jsp.core"/>
<plugin id="org.eclipse.jst.server.core"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.mylyn.commons.core"/>
<plugin id="org.eclipse.mylyn.commons.identity.core"/>
<plugin id="org.eclipse.mylyn.commons.net"/>
<plugin id="org.eclipse.mylyn.commons.notifications.core"/>
<plugin id="org.eclipse.mylyn.commons.notifications.feed"/>
<plugin id="org.eclipse.mylyn.commons.notifications.ui"/>
<plugin id="org.eclipse.mylyn.commons.repositories.core"/>
<plugin id="org.eclipse.mylyn.commons.repositories.ui"/>
<plugin id="org.eclipse.mylyn.commons.screenshots"/>
<plugin id="org.eclipse.mylyn.commons.ui"/>
<plugin id="org.eclipse.mylyn.commons.workbench"/>
<plugin id="org.eclipse.mylyn.context.core"/>
<plugin id="org.eclipse.mylyn.context.ui"/>
<plugin id="org.eclipse.mylyn.discovery.core"/>
<plugin id="org.eclipse.mylyn.discovery.ui"/>
<plugin id="org.eclipse.mylyn.monitor.core"/>
<plugin id="org.eclipse.mylyn.monitor.ui"/>
<plugin id="org.eclipse.mylyn.resources.ui"/>
<plugin id="org.eclipse.mylyn.tasks.core"/>
<plugin id="org.eclipse.mylyn.tasks.ui"/>
<plugin id="org.eclipse.mylyn.team.ui"/>
<plugin id="org.eclipse.mylyn.versions.core"/>
<plugin id="org.eclipse.mylyn.wikitext.core"/>
<plugin id="org.eclipse.mylyn.wikitext.ui"/>
<plugin id="org.eclipse.nebula.widgets.compositetable"/>
<plugin id="org.eclipse.nebula.widgets.grid"/>
<plugin id="org.eclipse.nebula.widgets.nattable.core"/>
<plugin id="org.eclipse.nebula.widgets.nattable.extension.glazedlists"/>
<plugin id="org.eclipse.nebula.widgets.nattable.extension.poi"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.pde"/>
<plugin id="org.eclipse.pde.build"/>
<plugin id="org.eclipse.pde.build.source"/>
<plugin id="org.eclipse.pde.core"/>
<plugin id="org.eclipse.pde.core.source"/>
<plugin id="org.eclipse.pde.launching"/>
<plugin id="org.eclipse.pde.launching.source"/>
<plugin id="org.eclipse.pde.runtime"/>
<plugin id="org.eclipse.pde.runtime.source"/>
<plugin id="org.eclipse.pde.source"/>
<plugin id="org.eclipse.pde.ui"/>
<plugin id="org.eclipse.pde.ui.source"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.swt" version="3.7.1.v3738a"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64" version="3.7.1.v3738a"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.team.cvs.core"/>
<plugin id="org.eclipse.team.cvs.core.source"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.ui.presentations.r21"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="org.eclipse.ui.views.log.source"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.ui.workbench.compatibility"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.eclipse.update.core.win32"/>
<plugin id="org.eclipse.update.scheduler"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.wst.command.env"/>
<plugin id="org.eclipse.wst.command.env.core"/>
<plugin id="org.eclipse.wst.command.env.ui"/>
<plugin id="org.eclipse.wst.common.core"/>
<plugin id="org.eclipse.wst.common.emf"/>
<plugin id="org.eclipse.wst.common.emfworkbench.integration"/>
<plugin id="org.eclipse.wst.common.environment"/>
<plugin id="org.eclipse.wst.common.frameworks"/>
<plugin id="org.eclipse.wst.common.frameworks.ui"/>
<plugin id="org.eclipse.wst.common.modulecore"/>
<plugin id="org.eclipse.wst.common.modulecore.ui"/>
<plugin id="org.eclipse.wst.common.project.facet.core"/>
<plugin id="org.eclipse.wst.common.project.facet.ui"/>
<plugin id="org.eclipse.wst.common.snippets"/>
<plugin id="org.eclipse.wst.common.ui"/>
<plugin id="org.eclipse.wst.common.uriresolver"/>
<plugin id="org.eclipse.wst.css.core"/>
<plugin id="org.eclipse.wst.css.ui"/>
<plugin id="org.eclipse.wst.html.core"/>
<plugin id="org.eclipse.wst.html.ui"/>
<plugin id="org.eclipse.wst.internet.monitor.core"/>
<plugin id="org.eclipse.wst.internet.monitor.ui"/>
<plugin id="org.eclipse.wst.jsdt.core"/>
<plugin id="org.eclipse.wst.jsdt.debug.core"/>
<plugin id="org.eclipse.wst.jsdt.manipulation"/>
<plugin id="org.eclipse.wst.jsdt.ui"/>
<plugin id="org.eclipse.wst.jsdt.web.core"/>
<plugin id="org.eclipse.wst.server.core"/>
<plugin id="org.eclipse.wst.server.discovery"/>
<plugin id="org.eclipse.wst.server.ui"/>
<plugin id="org.eclipse.wst.sse.core"/>
<plugin id="org.eclipse.wst.sse.ui"/>
<plugin id="org.eclipse.wst.validation"/>
<plugin id="org.eclipse.wst.web"/>
<plugin id="org.eclipse.wst.ws"/>
<plugin id="org.eclipse.wst.ws.parser"/>
<plugin id="org.eclipse.wst.ws.service.policy"/>
<plugin id="org.eclipse.wst.ws.service.policy.ui"/>
<plugin id="org.eclipse.wst.ws.ui"/>
<plugin id="org.eclipse.wst.wsdl"/>
<plugin id="org.eclipse.wst.wsdl.ui"/>
<plugin id="org.eclipse.wst.wsdl.validation"/>
<plugin id="org.eclipse.wst.xml.core"/>
<plugin id="org.eclipse.wst.xml.ui"/>
<plugin id="org.eclipse.wst.xml.xpath.core"/>
<plugin id="org.eclipse.wst.xml.xpath.ui"/>
<plugin id="org.eclipse.wst.xml.xpath2.processor"/>
<plugin id="org.eclipse.wst.xml.xpath2.wtptypes"/>
<plugin id="org.eclipse.wst.xsd.core"/>
<plugin id="org.eclipse.wst.xsd.ui"/>
<plugin id="org.eclipse.wst.xsl.core"/>
<plugin id="org.eclipse.wst.xsl.jaxp.debug"/>
<plugin id="org.eclipse.wst.xsl.jaxp.launching"/>
<plugin id="org.eclipse.wst.xsl.launching"/>
<plugin id="org.eclipse.wst.xsl.ui"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.eclipse.xsd.edit"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.jdom"/>
<plugin id="org.jsoup"/>
<plugin id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.uddi4j"/>
</includeBundles>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
