<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bosch.caltool.icdm.product.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bosch.caltool.icdm.product.application"
            name="iCDM">
         <property
               name="windowImages"
               value="icons/window-image-16x16.gif,icons/window-image-32x32.gif,icons/window-image-48x48.gif,icons/window-image-64x64.gif,icons/window-image-128x128.gif">
         </property>
         <property
               name="appName"
               value="iCDM">
         </property>
         <property
               name="aboutImage"
               value="icons/logo-about.gif">
         </property>
       <property
             name="aboutText"
             value="iCDM - Intelligent Calibration Data Management&#x0A;&#x0A;Version: 2024.3.0 (Build ID : Not applicable)&#x0A;&#x0A;An integrated tool combining the information from different data sources &#x0A;with the target to find the best pre-calibration values for a project &#x0A;and to minimize the time to collect information. &#x0A;Includes additional features like calibration data review to support calibration engineers.&#x0A;&#x0A;(c) Copyright Robert Bosch GmbH. All Rights Reserved.">
         </property>
         <property name="introBrandingImage" value="product:icons/window-image-32x32.gif"/>
         <property name="introTitle" value="Welcome to iCDM"/>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.bosch.caltool.icdm.product/content/root.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bosch.caltool.icdm.product.perspectives.CDMPerspective"
            icon="icons/window-image-16x16.gif"
            id="com.bosch.caltool.icdm.product.perspectives.CDMPerspective"
            name="iCDM">
      </perspective>
      <perspective
            class="com.bosch.caltool.icdm.product.perspectives.PIDCPerspective"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/att_id_obj.gif"
            id="com.bosch.caltool.icdm.product.perspectives.PIDCPerspective"
            name="Project ID Card">
      </perspective>
      <perspective
            class="com.bosch.caltool.icdm.product.perspectives.CalibrationDataReview"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/review_rules.png"
            id="com.bosch.caltool.icdm.product.perspectives.CalibrationDataReview"
            name="Calibration Data Review">
      </perspective>
      
      <perspective
            class="com.bosch.caltool.icdm.product.perspectives.UseCasePerspective"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/usecase.png"
            id="com.bosch.caltool.icdm.product.perspectives.UseCasePerspective"
            name="Use Case">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bosch.caltool.icdm.product.perspectives.CDMPerspective">
         <view
               id="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.FavoritesViewPart"
               minimized="false"
               ratio="0.25f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
               visible="true">
         </view>   
         <view
               id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart"
               minimized="false"
               ratio="0.65f"
               relationship="bottom"
               relative="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart"
               visible="true">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
        <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.pde.runtime.LogView"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="false">
         </view>         
         <view
               id="com.bosch.caltool.icdm.common.ui.views.SeriesStatisticsViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
              relative= "org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.common.ui.views.SeriesStatisticsViewPart"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.ui.views.DependenciesViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.FCBCUsageViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.ui.views.DependenciesViewPart"
               visible="true">
         </view>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.FavoritesViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.SeriesStatisticsViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.ui.views.DependenciesViewPart">
         </viewShortcut>
         
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.FCBCUsageViewPart">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.PIDCPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.UseCasePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.CalibrationDataReview">
         </perspectiveShortcut>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.PIDCDetailsViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="bottom"
               relative="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
               visible="false">
         </view>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="false">
         </view>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.bosch.caltool.icdm.product.perspectives.PIDCPerspective">
         <view
               id="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.FavoritesViewPart"
               minimized="false"
               ratio="0.25f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
               visible="true">
         </view> 
         <view
               id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart"
               minimized="false"
               ratio="0.65f"
               relationship="bottom"
               relative="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart"
               visible="true">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>       
         
           <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.pde.runtime.LogView"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="false">
         </view>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.FavoritesViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.CDMPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.UseCasePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.CalibrationDataReview">
         </perspectiveShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="false">
         </view>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart">
         </viewShortcut>
         <view
               id="com.bosch.caltool.apic.ui.views.PIDCHistoryViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <viewShortcut
               id="com.bosch.caltool.apic.ui.views.PIDCHistoryViewPart">
         </viewShortcut>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.PIDCDetailsViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="bottom"
               relative="com.bosch.caltool.icdm.common.ui.views.PIDTreeViewPart"
               visible="true">
         </view>
         
         <view
               id="com.bosch.caltool.apic.ui.views.FocusMatrixEditView"
               minimized="false"
               ratio="0.25f"
               relationship="stack"
               relative="org.eclipse.ui.views.ProgressView"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.bosch.caltool.icdm.product.perspectives.CalibrationDataReview">
         <view
               id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart"
               minimized="false"
               ratio="0.65f"
               relationship="bottom"
               relative="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart"
               visible="true">
         </view>
        <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.pde.runtime.LogView"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.SeriesStatisticsViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.common.ui.views.SeriesStatisticsViewPart"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.cdr.ui.views.CodeWord"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.cdr.ui.views.CodeWord"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.icdm.ruleseditor.views.RulesHistoryViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               ratio="0.5"
               relationship="stack"
               relative="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart"
               visible="false">
         </view>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.ScratchPadViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.cdr.ui.views.CodeWord">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.SeriesStatisticsViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.ui.views.StandardValuesViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.ReviewDataViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.ruleseditor.views.RulesHistoryViewPart">
         </viewShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.CDMPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.PIDCPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.UseCasePerspective">
         </perspectiveShortcut>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="false">
         </view>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart">
         </viewShortcut>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="com.bosch.caltool.icdm.product.perspectives.UseCasePerspective">
         <view
               id="com.bosch.caltool.usecase.ui.views.UseCaseTreeViewPart"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.usecase.ui.views.UseCaseDetailsViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="bottom"
               relative="com.bosch.caltool.usecase.ui.views.UseCaseTreeViewPart"
               visible="true">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.pde.runtime.LogView"
               visible="true">
         </view>
         <view
               id="com.bosch.caltool.usecase.ui.views.AttributeValuesViewPart"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               ratio="0.75f"
               relationship="stack"
               relative="com.bosch.caltool.usecase.ui.views.AttributeValuesViewPart"
               visible="false">
         </view>
         <viewShortcut
               id="com.bosch.caltool.usecase.ui.views.UseCaseTreeViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.usecase.ui.views.UseCaseDetailsViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.OutlineViewPart">
         </viewShortcut>
         <viewShortcut
               id="com.bosch.caltool.usecase.ui.views.AttributeValuesViewPart">
         </viewShortcut>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.CDMPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.PIDCPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="com.bosch.caltool.icdm.product.perspectives.CalibrationDataReview">
         </perspectiveShortcut>
         <view
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart"
               minimized="false"
               ratio="0.60f"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="false">
         </view>
         <viewShortcut
               id="com.bosch.caltool.icdm.common.ui.views.TransactionSummaryViewPart">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.bosch.caltool.icdm.product.iCDMCategory"
            name="iCDM">
      </category>
      <category
            id="com.bosch.caltool.icdm.product.PIDCCattegory"
            name="PIDC">
      </category>
      <category
            id="com.bosch.caltool.icdm.product.NotificationCategory"
            name="Notification">
      </category>
       <command
            id="com.bosch.caltool.icdm.product.commandhandlers.HomePageHandler"
            name="Home">
      </command>
      <command
            categoryId="com.bosch.caltool.icdm.product.PIDCCattegory"
            id="com.bosch.caltool.icdm.product.commandhandlers.AttributesHandler"
            name="Open Attributes">
      </command>
      <command
            categoryId="com.bosch.caltool.icdm.product.NotificationCategory"
            id="com.bosch.caltool.icdm.product.commandhandlers.RefreshCommandHandler"
            name="Refresh">
      </command>
      <command
            id="com.bosch.caltool.icdm.product.commandhandlers.FC2WPCommandHandler"
            name="Manage FC2WP">
      </command>     
      <command
            id="com.bosch.caltool.icdm.product.commandhandlers.ReviewParamEditorHandler"
            name="Open Review Rules Editor">
      </command>
       <command
            id="com.bosch.caltool.icdm.product.commandhandlers.ReviewResultEditorHandler"
            name="Review Result Editor">
      </command>
      <command
            id="com.bosch.caltool.icdm.product.commandhandlers.CalDataReviewProcessHandler"
            name="CalDataReview Process">
      </command>
      <command
            id="com.bosch.caltool.icdm.product.commandhandlers.ReportExportHandler"
            name="Review Result Export">
      </command>
      <command
            id="com.bosch.caltool.icdm.product.commandhandlers.PIDCSearchHandler"
            name="PIDC Search">
      </command>
      <command
            id="com.bosch.caltool.icdm.product.commandhandlers.AliasDefinitionHandler"
            name="Alias Definition">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
          <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.HomePageHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.HomePageHandler">
      </handler>
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.AttributesHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.AttributesHandler">
      </handler>
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.RefreshCommandHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.RefreshCommandHandler">
         <enabledWhen>
            <with
                  variable="com.bosch.caltool.icdm.product.refreshstatus">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>     
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.ReviewResultEditorHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.ReviewResultEditorHandler">
                
      </handler>
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.CalDataReviewProcessHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.CalDataReviewProcessHandler">
      </handler>
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.ReportExportHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.ReportExportHandler">
            <enabledWhen>
            <with
                  variable="com.bosch.caltool.icdm.product.reportexportstatus">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.PIDCSearchHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.PIDCSearchHandler">
      </handler>
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.AliasDefinitionHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.AliasDefinitionHandler">
      </handler>

      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.ReviewParamEditorHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.ReviewParamEditorHandler">
      </handler>
      <handler
            class="com.bosch.caltool.icdm.product.commandhandlers.FC2WPCommandHandler"
            commandId="com.bosch.caltool.icdm.product.commandhandlers.FC2WPCommandHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=com.bosch.citi.lite.client.toolbar1">
         <toolbar
               id="com.bosch.caltool.icdm.product.iCDMToolbar">
            <command
                  commandId="com.bosch.caltool.icdm.product.commandhandlers.HomePageHandler"
                  icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/home.jpg"
                  label="Home Page"
                  style="push"
                  tooltip="Open Home Page">
            </command>
            <separator
                  name="com.bosch.caltool.icdm.product.menu.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="com.bosch.caltool.icdm.product.commandhandlers.AttributesHandler"
                  icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/attr_editor.png"
                  label="Open Attributes"
                  style="push"
                  tooltip="Open Attribute Editor">
            </command>
            <command
                  commandId="com.bosch.caltool.icdm.product.commandhandlers.AliasDefinitionHandler"
                  icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/alias.png"
                  label="Alias Definition"
                  style="push"
                  tooltip="Open Attribute/Value Alias Definition">
            </command>
            
            <separator
                  name="com.bosch.caltool.icdm.product.menu.separator1"
                  visible="true">
            </separator>
            <separator
                  name="com.bosch.caltool.icdm.product.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="com.bosch.caltool.icdm.product.commandhandlers.FC2WPCommandHandler"
                  icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/fc2wp_16X16.png"
                  label="Maintain FC-WP Mappings and Work Packages"
                  style="push"
                  tooltip="Manage FC2WP">
            </command>
            <separator
                  name="com.bosch.caltool.icdm.product.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="com.bosch.caltool.icdm.product.commandhandlers.ReviewParamEditorHandler"
                  icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/review_rules.png"
                  label="Review Configuration Selection"
                  style="push"
                  tooltip="Open Review Configuration">
            </command>
            <command
                  commandId="com.bosch.caltool.icdm.product.commandhandlers.CalDataReviewProcessHandler"
                  icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/start_cdreview.gif"
                  label="CalData Review Process"
                  style="push"
                  tooltip="Start Calibration Data Review">
            </command>
             <command
                   commandId="com.bosch.caltool.icdm.product.commandhandlers.ReviewResultEditorHandler"
                   icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/review_result_open.png"
                   label="Review Result Editor"
                   style="push"
                   tooltip="Open Review Result Editor">
            </command>
               <separator
                  name="com.bosch.caltool.icdm.product.separator5"
                  visible="true">
            </separator>
             <command
                   commandId="com.bosch.caltool.icdm.product.commandhandlers.ReportExportHandler"
                   icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/exportReviewResult.png"
                   label="Save Excel Report"
                   style="push"
                   tooltip="Export to Excel Workbook">                 
             </command>
             <separator
                   name="com.bosch.caltool.icdm.product.separator6"
                   visible="true">
             </separator>
            <command
                   commandId="com.bosch.caltool.icdm.product.commandhandlers.PIDCSearchHandler"
                   icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/Search.gif"
                   label="PIDC Scout"
                   style="push"
                   tooltip="PIDC Scout">                 
             </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.bosch.caltool.icdm.product.splashHandlers.InteractiveSplashHandler"
            id="com.bosch.caltool.icdm.product.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.bosch.caltool.icdm.product.product"
            splashId="com.bosch.caltool.icdm.product.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bosch.caltool.icdm.product.preferences.PidcPreferencePage"
            id="com.bosch.caltool.icdm.product.preferences.PidcPreferencePage"
            name="PIDC Editor">
      </page>
       <page
            class="com.bosch.caltool.icdm.product.preferences.LanguagePreferencePage"
            id="com.bosch.caltool.icdm.product.preferences.LanguagePreferencePage"
            name="Language">
      </page>
       <page
             class="com.bosch.caltool.icdm.product.preferences.HomePreferencePage"
             id="com.bosch.caltool.icdm.product.preferences.HomePreferencePage"
             name="WelcomePage">
       </page>
       <page
             class="com.bosch.caltool.icdm.product.preferences.NotificationsPreferencePage"
             id="com.bosch.caltool.icdm.product.preferences.NotificationsPreferencePage"
             name="Notifications">
       </page>
       <page
             class="com.bosch.caltool.icdm.product.preferences.LoggingPreferencePage"
             id="com.bosch.caltool.icdm.product.preferences.LoggingPreferencePage"
             name="Logging">
       </page>
       <page
             class="com.bosch.caltool.icdm.product.preferences.RvwResultDecimalPreferencePage"
             id="com.bosch.caltool.icdm.product.preferences.RvwResultDecimalPreferencePage"
             name="Review Result Decimal Preference">
       </page>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
     	    id="com.bosch.caltool.icdm.product.cityEnable"
            name="Citi View Activity">
      </activity> 
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.cityEnable"
            isEqualityPattern="false"
            pattern="com.bosch.citi.lite.*">
      </activityPatternBinding> 
      <activity
            id="com.bosch.caltool.icdm.product.activityRemoval"
            name="Remove Unwanted Contributions">
      </activity>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            pattern="org.eclipse.ui.edit.text.actionSet.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            pattern="org.eclipse.ui.externaltools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.actionSet.openFiles">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.text.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.window.showKeyAssist">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.debug.ui/org.eclipse.debug.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.java">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.nebula.examples/org.eclipse.nebula.examples.view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.java.browsing">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ant.ui/org.eclipse.ant.ui.views.AntView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.BookmarkView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.console/org.eclipse.ui.console.ConsoleView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.AllMarkersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ResourceNavigator">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ProblemView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.navigator.resources/org.eclipse.ui.navigator.ProjectExplorer">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.TaskList">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.ui/org.eclipse.ui.texteditor.TemplatesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.ui/org.eclipse.pde.ui.DependenciesView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.runtime/org.eclipse.pde.runtime.RegistryBrowser">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.ui/org.eclipse.pde.ui.PluginsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.ui/org.eclipse.pde.ui.TargetPlatformState">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.bosch.caltool.icdm.product.activityRemoval"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.cheatsheets/org.eclipse.ui.cheatsheets.views.CheatSheetView">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bosch.caltool.icdm.product.propertytester.HandlerPropertyTester"
            id="com.bosch.caltool.icdm.product.propertytester.HandlerPropertyTester"
            namespace="com.bosch.caltool.icdm.product.test"
            properties="canUndo,canRedo"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.intro">
     <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="platform:/plugin/com.bosch.caltool.icdm.common.ui/icons/home.jpg"
            id="org.eclipse.intro.minimal"
            label="iCDM Home"/>
    <introProductBinding
         introId="org.eclipse.intro.minimal"
         productId="com.bosch.caltool.icdm.product.product">
    </introProductBinding>
</extension>
<extension point="org.eclipse.ui.intro.configExtension">
    <configExtension
        configId="org.eclipse.ui.intro.universalConfig"
        content="content/welcome_content.xml" />
</extension>
<extension
      point="org.eclipse.ui.intro.config">
   <config
         configurer="com.bosch.caltool.icdm.product.commandhandlers.ICDMIntroConfigurer"
         content="content/welcome_content.xml"
         id="org.eclipse.ui.intro.universal.config"
         introId="org.eclipse.intro.minimal">
      <presentation
            home-page-id="root">
         <implementation
               kind="html">
         </implementation>
      </presentation>
   </config>
</extension>
<extension
      id="iCDM"
      point="org.eclipse.core.runtime.products">
   <product
         application="com.bosch.caltool.icdm.product.application"
         name="iCDM">
      <property
            name="windowImages"
            value="icons/window-image-16x16.gif,icons/window-image-32x32.gif,icons/window-image-48x48.gif,icons/window-image-64x64.gif,icons/window-image-128x128.gif">
      </property>
      <property
            name="aboutText"
            value="iCDM - Intelligent Calibration Data Management&#x0A;&#x0A;Version  : 1.11.0&#x0A;&#x0A;An integrated tool combining the information from different data sources &#x0A;with the target to find the best pre-calibration values for a project &#x0A;and to minimize the time to collect information. &#x0A;Includes additional features like calibration data review to support calibration engineers.&#x0A;&#x0A;(c) Copyright Robert Bosch GmbH. All Rights Reserved.">
      </property>
      <property
            name="aboutImage"
            value="icons/logo-about.gif">
      </property>
   </product>
</extension>
<extension
      point="com.bosch.caltool.icdm.client.bo.connectionstate.listener">
   <contribution
         class="com.bosch.caltool.icdm.product.actions.ConnectionStateStatusLineContributionListener">
   </contribution>
</extension>
</plugin>
